@model IEnumerable<AcademiControl.Models.Message>

@{
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <h1>Cadastro de Mensagens</h1>
        <br />

        <button class="btn btn-warning" type="button">
            <a asp-action="Create" class="text-white">Inserir</a>
        </button>
    </p>

<table class="table">
    <thead>
            <tr class="bg-warning">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>

                <button class="btn btn-warning " type="button">
                    <a asp-action="Edit" class="text-white" asp-route-id="@item.Id">Editar</a>
                </button>

                <button class="btn btn-warning " type="button">
                    <a asp-action="Details" class="text-white" asp-route-id="@item.Id">Visualizar</a>
                </button>

                <button class="btn btn-warning " type="button">
                    <a asp-action="Delete" class="text-white" asp-route-id="@item.Id">Deletar</a>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
