@model AcademiControl.Models.Staff

@{
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Visualizar Integrante</h4>
    <hr />
    <dl class="row" >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div>
        <button class="btn btn-primary">
            <a asp-action="Edit" class="text-white"  asp-route-id="@Model?.Id">Editar</a>
        </button>
        <button class="btn btn-primary">
            <a asp-action="Index" class="text-white">Voltar</a>
        </button>
</div>
</body>
</html>
