@model IEnumerable<AcademiControl.Models.Staff>

@{
    Layout = "~/Views/Shared/_LayoutPersonalizado.cshtml"; 
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body >
        <p>
            <h1>Cadastro de integrantes</h1>
            <br/>

            <button class="btn btn-primary" type="button">
                <a asp-action="Create" class="text-white">Inserir</a>
            </button>
        </p>
        <table class="table">
            <thead>
                <tr class="bg-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            <button class="btn btn-primary" type="button">
                                <a asp-action="Edit" class="text-white" asp-route-id="@item.Id">Editar</a>
                            </button>

                            <button class="btn btn-primary" type="button">
                                <a asp-action="Details" class="text-white" asp-route-id="@item.Id">Visualizar</a>
                            </button>

                            <button class="btn btn-primary" type="button">
                                <a asp-action="Delete" class="text-white" asp-route-id="@item.Id">Deletar</a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </body>
</html>
